 h1 {
     color: white;
     font-family: Arial,
     sans-serif;
     font-size: 6rem;
     -webkit-text-stroke: 0.2rem black;
     text-align: center;
 }
.blur {
     background-image: url("StockCake-Misty_Mountain_Waves-1792778-standard.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     inset: 0;
     filter: blur(0.4rem);
     position: fixed;
     z-index: -1;
    margin: -0.5rem;
 }
 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 85vh;
     flex-direction: column;

     .buttons {
         margin-top: 2.5rem;
         display: flex;
         gap: 3rem;
     }
 }